.searchCard h2 {
  font-size: 2rem;
  padding: 10px;
  margin-bottom: 15px;
  border-left: 5px solid blue;
}

.searchCard span {
  padding: 10px;
  background-color: black;
  width: 100%;
  min-height: 200px;
}
.searchCard span img {
  max-height: 290px;
}

.searchCardBottom {
  display: flex;
  justify-content: space-between;
  padding: 17px 17px 20px;
  background-color: black;
  color: white;
  margin-top: -2px;
  border-radius: 0 0 6px 6px;
}

.searchCardBottom .media {
  color: antiquewhite;
}

.searchLists button.loadMore {
  background-color: rgb(38, 38, 187);
  color: whitesmoke;
  outline: none;
  border: none;
  padding: 7px 0;
  font-size: 1.6rem;
}

.searchLists {
  display: flex;
  width: auto;
  margin-left: -30px;
}

.searchCard {
  display: block;
  padding-top: 14px;
  box-shadow: 0 5px 17px 1px rgb(0, 0, 0, 0.28);
  border-radius: 6px;
  overflow-x: hidden;
  margin-bottom: 30px;
}

.my-masonry-grid_column {
  padding-left: 30px;
  background-clip: padding-box;
}
