.home img {
  width: 100%;
  margin: 28px auto 19px;
  box-shadow: 0px 0px 18px 2px rgb(0, 0, 0, 29%);
  padding: 3px;
  border-radius: 8px;
}
iframe {
  margin: 20px auto;
}
.home {
  padding-bottom: 80px;
}

.apodData h2 {
  font-size: 2.7rem;
  text-align: center;
}

.apodData p {
  font-size: 2rem;
  line-height: 2.8rem;
  word-spacing: 4px;
}

.apodData h3,
.searchDetails h3 {
  font-size: 1.6rem;
  margin: 15px auto 16px 3px;
  position: relative;
}

.apodData h3::after,
.searchDetails h3::after {
  width: 85px;
  height: 3px;
  background-color: rgb(253, 106, 106);
  position: absolute;
  bottom: -5px;
  left: 0;
  content: ' ';
}

.homeDiv {
  background-color: rgb(36, 32, 32);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  background-position: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.47), rgba(0, 0, 0, 0.47)),
    url('../../Assets/full.webp');
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(0.9);
  background-attachment: fixed;
}

.homeDiv input {
  padding: 7px 17px;
  width: 80%;
  border-radius: 8px;
  font-size: 1.7rem;
  background-color: rgb(184, 219, 230);
  border: 2px solid white;
}

.homeDiv div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homeDiv h1 {
  color: rgba(255, 255, 255, 0.938);
  text-align: center;
  font-size: 2.6rem;
  width: 80%;
  margin-bottom: 17px;
}

.loadingDiv {
  text-align: center;
  margin-top: 150px;
  font-size: 2.3rem;
  font-weight: 300;
}

.apodData p.homeInfo {
  background-color: rgb(65, 65, 65);
  padding: 4px 10px;
  color: rgb(201, 197, 197);
  margin-bottom: 15px;
  text-align: center;
  font-size: 1.3rem;
  word-spacing: 2px;
}

.pwaModal {
  background-color: #2a272d;
  width: 100%;
  max-width: 700px;
  z-index: 9;
  position: fixed;
  padding: 46px 25px 16px;
  text-align: center;
  bottom: -2px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 -1px 3px rgb(31 0 44 / 70%);
}

.pwaModal p {
  color: rgb(238, 238, 238);
  font-size: 2rem;
}

.pwaModal span {
  position: absolute;
  color: #fff;
  font-size: 3.5rem;
  right: 10px;
  top: 7px;
}

.pwaModal .installPwa {
  border-radius: 30px;
  padding: 8px 35px;
  background-color: rgb(255, 255, 255);
  border: 2px solid #f7caca;
  font-size: 2rem;
  font-weight: 600;
  color: #2a272d;
  margin-top: 13px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.pwaModal .installPwa:active,
.pwaModal .installPwa:hover {
  background-color: #2a272d;
  border: 2px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
}

/* Media Queries */
@media screen and (min-width: 600px) {
  .homeDiv {
    padding: 60px 0;
  }

  .imgSpan span {
    min-height: 400px;
  }

  .apodData p.homeInfo {
    width: 526px;
    margin: 0 auto 18px;
  }

  .pwaModal {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 25px 25px 20px;
    bottom: 10px;
    border-radius: 8px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .pwaModal .installPwa {
    margin-top: 0;
    margin-left: 15px;
    padding: 8px 30px;
    font-size: 1.8rem;
  }

  .pwaModal span {
    top: 27px;
    right: 20px;
  }
}

@media screen and (min-width: 900px) {
  .home img {
    margin: 35px auto 19px;
    padding: 6px;
    border-radius: 3px;
  }

  .imgSpan {
    width: 90%;
    display: block;
    margin: 0 auto;
  }
  .imgSpan span {
    min-height: 570px;
  }
  .apodData p {
    width: 80%;
    margin: 27px auto;
  }
}

@media screen and (min-width: 1200px) {
  .home img {
    padding: 8px;
  }

  .imgSpan {
    width: 80%;
  }
  .imgSpan span {
    min-height: 614px;
  }
}
