.searchFlexItem {
  max-width: 300px;
}

.searchFlexItem .searchDiv input {
  text-align: start;
  background-color: black;
  padding: 9px 3px 9px 13px;
  border-width: 1px;
  color: rgb(224, 225, 239);
}

.searchFlexItem .searchDiv input:focus {
  color: cornflowerblue;
}

.searchResultWrapper {
  margin: 22px 5px 25px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.searchResultWrapper select {
  padding: 4.5px 5px 4.5px 10px;
  background-color: transparent;
  border-radius: 7px;
  font-size: 1.4rem;
  color: darkblue;
  border-color: darkblue;
}

.searchResult {
  font-size: 1.7rem;
}

.searchResult span {
  color: crimson;
  font-weight: 700;
}

.searchBtnDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
  gap: 20px;
}

.searchBtnDiv button {
  background-color: rgb(34, 34, 216);
  border: none;
  color: white;
  padding: 7px 16px;
  font-size: 1.5rem;
  text-transform: uppercase;
  border-radius: 4px;
}

.searchBtnDiv button:active,
.searchBtnDiv button:hover {
  background-color: rgb(20, 20, 170);
}
.searchDiv button.cameraBtn {
  width: 90px;
  padding: 6px;
}
