.cameraBtn {
  padding: 6px 15px;
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  border-radius: 6px;
  background-color: rgb(75, 137, 139);
  outline: none;
  transition: background-color 0.3s, transform 0.3s;
  cursor: pointer;
  z-index: 99;
  border: none;
}
button.cameraBtn:hover {
  background-color: rgb(54, 108, 110);
}

button.cameraBtn:active {
  transform: scale(0.96);
}

.maxSol {
  color: rgb(191, 191, 191);
  margin-bottom: 18px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.maxSol span {
  color: tomato;
  font-size: 2rem;
  font-weight: 600;
}

h1.roverDataHeadline {
  margin: 20px auto 10px;
}

.solControl {
  display: flex;
  justify-content: center;
  margin: 20px auto 10px;
  /* align-items: center; */
}
.solControl h1 {
  margin-top: 3px;
}

.solControl button {
  font-size: 4.7rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: blueviolet;
  transition: all 0.3s;
}

.solControl .rightBtn:active:not(:disabled) {
  transform: translateX(4px);
  color: rgb(42, 26, 185);
}
.solControl .leftBtn:active:not(:disabled) {
  transform: translateX(-4px);
  color: rgb(42, 26, 185);
}

.solControl button:disabled {
  color: rgb(218, 214, 221);
}

.cameraOptions {
  padding: 8.5px;
  border-radius: 6px;
  background-color: #d7dce0;
  width: 100%;
}
.cameraOptions:focus {
  outline: none;
}
.flexItem {
  width: 270px;
}

.searchDiv {
  margin: 11px 0px;
  display: flex;
  gap: 11px;
}
.searchDiv input {
  text-align: center;
  padding: 8px;
  font-size: 1.6rem;
  background-color: #a4b1bb;
  border-color: white;
}

.searchDiv input:focus {
  border-color: cornflowerblue;
  outline: none;
}

.searchDiv input::placeholder {
  color: rgb(103, 101, 101);
}

.roverWrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  min-height: 60vh;
}

.roverWrapper .loadingMars {
  margin-top: 80px;
}

.marsPhotoCard {
  /* margin: 0 auto; */
  /* margin: 0px 20px 26px; */
  /* margin-bottom: 25px; */
  padding: 8px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 20px rgb(0, 0, 0, 0.28);
  border-bottom: 3px solid blue;
  min-height: 280px;
}

.marsPhotoCard img {
  border-radius: 6px;
}

.info {
  padding: 10px 10px 6px;
}

.nextPage {
  /* display: flex;
  justify-content: center;
  margin: 40px auto 20px;
  align-items: center;
  gap: 30px; */
  display: grid;
  grid-template-columns: 1fr 50px 1fr;
  margin: 40px auto 20px;
  gap: 30px;
}

.nextPage p {
  font-size: 1.8rem;
  background-color: blueviolet;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  grid-column: 2;
  box-shadow: 0 2px 20px rgb(0, 0, 0, 0.28);
  margin: 0 auto;
}

.nextPage button {
  padding: 8px;
  width: 100px;
  border-radius: 5px;
  background-color: rgb(83, 83, 220);
  color: #f1f1f1;
  font-weight: 600;
  border: none;
  font-size: 1.4rem;
  border-bottom: 2px solid rgb(15, 1, 61);
  transition: all 0.3s;
  cursor: pointer;
}
.nextPage button:nth-child(1) {
  margin-left: auto;
}
.nextPage button:nth-child(3) {
  margin-right: auto;
}

.nextPage button:hover {
  background-color: rgb(62, 62, 182);
}

.nextPage button:active {
  border-bottom: 1px solid rgb(15, 1, 61);
  transform: translateY(2px);
}

div.backresetDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  top: 14px;
  left: 14px;
  right: 14px;
}
div.backresetDiv button {
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 7px 0; */
  width: 90px;
  height: 34px;
  font-size: 1.5rem;
  border: 1px solid white;
  background-color: rgb(152, 10, 10);
  color: white;
  gap: 4px;
  border-radius: 30px;
  transition: all 0.3s;
}
div.backresetDiv button:hover {
  border-color: #a9afb4;
}

div.backresetDiv button:active {
  background-color: rgb(128, 9, 9);
  border-color: black;
}
div.backresetDiv button svg {
  font-size: 2rem;
  /* margin-top: -2px; */
}
div.backresetDiv button:nth-child(1) {
  padding-right: 9px;
  background-color: transparent;
}

div.backresetDiv button:nth-child(1):active {
  color: black;
  background-color: white;
}

div.backresetDiv button:nth-child(1) svg {
  margin-right: -5px;
  font-size: 2.3rem;
  /* margin-top: -3px; */
}

@media screen and (min-width: 925px) {
  .marsPhotoCard img {
    width: 281px;
    height: 273px;
  }
}

@media screen and (min-width: 1280px) {
  .marsPhotoCard img {
    width: 341px;
    height: 325px;
  }
}
