.cameraBtn {
  padding: 13px 20px;
  color: aliceblue;
  font-size: 1.8rem;
  margin: 14px auto;
  display: block;
  border-radius: 6px;
  background-color: cadetblue;
  box-shadow: 1px 2px 6px rgba(71, 71, 71, 0.877);
}

.roverDataHeadline {
  margin: 20px auto 25px;
  text-align: center;
  font-size: 2.5rem;
}

.solControl {
  display: flex;
  justify-content: space-evenly;
  margin: 20px auto;
  align-items: center;
}
