* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
::-webkit-scrollbar {
  display: none;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
  height: 100%;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: azure;
  height: 100%;
}

a {
  text-decoration: none;
  font-size: 1.6rem;
  color: black;
}

p {
  font-size: 1.6rem;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1800px;
}

h1 {
  text-align-last: center;
  font-size: 3.2rem;
}

img {
  width: 100%;
}

.imgSpan span,
.roverCard span {
  width: 100%;
}

.imgSpan span {
  min-height: 250px;
}

button {
  cursor: pointer;
}
