* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: azure;
}

a {
  text-decoration: none;
  font-size: 1.6rem;
  color: black;
}

p {
  font-size: 1.6rem;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1800px;
}

h1 {
  text-align-last: center;
  font-size: 3.2rem;
}

img {
  width: 100%;
}

.imgSpan span,
.marsPhotoCard span,
.roverCard span,
.searchCard span {
  width: 100%;
}

.searchCard span {
  max-height: 270px;
}

button {
  cursor: pointer;
}
