.nav {
  width: 100%;
  background-color: #054569;
  padding: 10px 20px;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.575);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9;
  position: relative;
}

.nav p {
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 2px;
  color: #eff0f0;
}

.navLink {
  display: flex;
  justify-content: space-between;
  gap: 3px;
  margin-bottom: -2px;
  background-color: #0f1a2c;
}

.navLink a {
  font-size: 2rem;
  background-color: rgb(236, 236, 236);
  padding: 10px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.884);
}

a.selected {
  /* background-color: rgb(59, 59, 59); */
  /* background-color: rgb(36, 32, 32); #37425B #054569*/
  background-color: rgb(21, 29, 49);
  color: white;
}
